<div class="page">
  <div class="container">

    <carousel>
      <slide>
        <div class="my-slide _1">
          <h2>Hey!</h2>
        </div>
      </slide>

      <slide>
        <div class="my-slide _2">
          <h2>Hey!</h2>
        </div>
      </slide>

      <slide>
        <div class="my-slide _3">
          <h2>Hey!</h2>
        </div>
      </slide>

      <slide>
        <div class="my-slide _4">
          <h2>Hey!</h2>
        </div>
      </slide>

    </carousel>

  </div>

</div>
